<div *ngIf="game">
  <p *ngIf="game.myGame">
    Game code: {{game.code}}
  </p>
  <ul>
    <li>X - {{game.playerNames[0] || 'Computer'}}</li>
    <li>O - {{game.playerNames[1] || 'Computer'}}</li>
  </ul>
  <button *ngIf="game.myGame" (click)="changeSides()">Change sides</button>
  <button *ngIf="game.myGame" (click)="startGame()">Start game</button>
  <button *ngIf="game.myGame && (game.playerNames[0] && game.playerNames[1])" (click)="kickOpponent()">Kick opponent
  </button>
  <button (click)="leaveGame()">Leave game</button>
</div>
