<app-header>Game List</app-header>
<form style="margin-top: 5px">
  <mat-form-field>
    <input matInput type="number" name="height" placeholder="Height" [(ngModel)]="newGame.tableHeight">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="number" name="width" placeholder="Width" [(ngModel)]="newGame.tableWidth">
  </mat-form-field>
  <mat-form-field>
    <input matInput type="number" name="linesize" placeholder="Line Size" [(ngModel)]="newGame.lineSize">
  </mat-form-field>
  <mat-checkbox name="public" [color]="'primary'" [(ngModel)]="newGame.gamePublic">Public</mat-checkbox>
</form>
<button mat-stroked-button [color]="'primary'" (click)="createGame()">Create new game</button>
<form>
  <mat-form-field>
    <input matInput placeholder="Code" name="code" (input)="lobbyError=false" [(ngModel)]="joinCode">
  </mat-form-field>
</form>
<button mat-raised-button [color]="lobbyError?'warn':'primary'" (click)="joinGame(joinCode)">Join game by code</button>
<mat-list>
  <mat-list-item *ngFor="let game of games"
       (click)="joinGame(game.code)">{{game.hostName + ' ' + game.tableHeight + 'x' + game.tableWidth}}
  </mat-list-item>
</mat-list>
